*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: #3D4044;
}

/* header */
header{
    max-width: 97%;
    margin: auto;
}
.header-top{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    height: 50px;
}
.header-left{
    display: flex;
}
.header-left h2{
    color: #606368;
    font-weight: 400;
    margin-top: 0px;
    padding-left: 5px;
    font-size: 21px;
}
.header-left img{
   width: 80px;
}
.header-right{
    display: flex;
    align-items: center;
}
.header-right div{
    background-color: #5E4038;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    padding: 3px 10px;
}
.header-right i{
    font-size: 20px;
    color: #606368;
    padding-right: 20px;
}
.header-bottom ul{
    display: flex;
    padding: 10px 0;
}
.header-bottom ul li{
    list-style: none;
}
.header-bottom ul li a{
    text-decoration: none;
    padding-right: 40px;
    color: #606368;
    font-weight: 500;
    font-size: 14.8px;
}
/* /header */
/* main */
main, .footer-container{
    max-width: 68%;
    margin: auto;
}
h2, h3{
    font-weight: 500;
    margin-top: 80px;
}
main div{
    line-height: 1.8;
    font-size: 13.2px;
    margin-top: 30px;
}

a{
    color: #3367D7;
    text-decoration: none;
}
i{
    font-size: 10px;
}
ol, ol > li{
    padding-left: 15px;
    margin-top: 15px;
}
ol > li > ol {
    list-style-type: lower-alpha;
    padding-left: 15px;
}
ol > li > ol > li{
    margin-top: 15px;
}
/* /main */

/* footer */
footer{
    background-color: #F5F5F5;
    margin-top: 50px;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
}
.footer-container ul{
    display: flex;
    padding-bottom: 3px;
}
.footer-container ul li{
    list-style: none;
}
.footer-container ul li a{
    text-decoration: none;
    color: grey;
    font-size: 10.7px;
    font-weight: 100;
    padding-right: 6px;
}
.footer-container ul li a span{
    padding-left: 4px;
}
.footer-right{
    display: flex;
}
.footer-right img{
    padding-right: 7px;
    padding-top: 3px;
}
.footer-right select{
    width: 175px;
    height: 19px;
}
/* /footer */
